body {
    justify-content: center;
    font-family: 'Nanum Myeongjo', serif;
    padding-bottom: 10px;
}

.main {
    background-color: rgba(255, 255, 255, 0.849);
    color: rgb(0, 0, 0);
    position: relative;
    width: 100%;
}

/* .logo {
    height: 40px;
} */

nav {
    width: 100%;
    height: 50px;
    top: 30px;
    left:0;
    background-color: white;
    margin-bottom: 0;
}

#top-nav {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    float: left;
    justify-content: space-around;
    align-items: center;
    gap: 90px;
}

#top-nav ul{
    display: block;
    width: 50%;
    margin: 0 auto;
    height: 100%;
    text-align: center;
}

#top-nav li{
    display: block;
    float: left;
    text-align: center;
    width: 25%;
    height: 100%;
    transition: all ease-in-out .2s;
    font-size: 20px;
}

#top-nav a{
    display: block;
    float: left;
    color: black;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    font-weight: bold;
}

li{
    border:none;
    position: relative;
}

li:hover{
    border: none;
}

li::after{
    content: '';
    position: absolute;
    width: 0px;
    height: 5px;
    left: 50%;
    bottom:0;
    background-color: #e5cca8;
    transition: all ease-in-out .2s;
}

li:hover::after{
    width: 100%;
    left: 0;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
    background: #e5cca8;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #a78148b7;
}

.outer-div {
    margin-left: auto; 
    margin-right: auto;
    position:relative;
    padding:50px 0 30px 0;
    width:850px;
    top:40px;
    background:rgb(255, 255, 255);
}

.flights-table {
    overflow:auto;
    width:820px;
    height:300px;
    background:rgb(255, 255, 255);
}

.outer-div table caption {
    position:absolute;
    width:819px;
    text-align:center;
    top:0;
    left:0;
    height:20px;
    background:#e5cca8;
    border:1px solid #eee;
    color:#eee;
    font-weight: bold;
}

.outer-div thead tr {
    position:absolute;
    top:20px;
    height:20px;
    left:0;
}

.outer-div tfoot td {
    position:absolute;
    width:819px;
    text-align:center;
    background:#e5cca8;
    border:1px solid #eee;
    color:#eee;
    font-weight: bold;
    bottom:0;
    left:0
}

.outer-div th, .outer td {
    width:10em; 
    text-align:left;
}

.outer-div th {
    background:#a78148b7; 
    color:#fff;}
    .outer-div .dk {background:#fff;
}

.background {
    filter: brightness(90%);
    position: relative;
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: 15% 100%;
    clip-path: polygon(0% 0%, 80% 0%, 100% 0%, 100% 85%, 0% 100%, 0% 100%, 0% 100%, 0% 100%);
}

.bottom-nav {
    display: flex;
    flex-flow: nowrap column;
    margin-top: 100px;
    width: 100%;
    font-weight: bold;
    position: relative;
    bottom: 0;
}

.contact img, .contact {
    width: 25px;
    height: 25px;
}

.contact img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.wrap-media {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    padding: 10px;
    padding-right: 100px;
}